*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial, sans-serif;
background:linear-gradient(
135deg,
#dfe9f3,
#ffffff
);
min-height:100vh;
padding-bottom:40px;
}

.nav{

display:flex;
justify-content:space-between;
align-items:center;

padding:18px 40px;

background:white;

box-shadow:
0px 3px 10px rgba(
0,0,0,0.1
);

position:sticky;
top:0;
}

.logo{

font-size:24px;
font-weight:bold;
color:#4f46e5;

}

.navLinks a{

text-decoration:none;
margin-left:25px;
color:#333;
font-weight:bold;
transition:.3s;

}

.navLinks a:hover{

color:#4f46e5;

}

.card{

width:85%;
max-width:800px;

margin:25px auto;

background:white;

padding:25px;

border-radius:20px;

box-shadow:
0 8px 25px rgba(
0,0,0,0.1
);

transition:.3s;
}

.card:hover{

transform:
translateY(-5px);

}

.card h1{

color:#4f46e5;

margin-top:10px;

}

.form{

width:85%;
max-width:500px;

margin:40px auto;

background:white;

padding:30px;

border-radius:20px;

box-shadow:
0 8px 20px rgba(
0,0,0,0.1
);

display:flex;

flex-direction:column;

gap:15px;

}

input,
select{

padding:14px;

border:none;

border-radius:10px;

background:#f3f4f6;

font-size:16px;

outline:none;
}

button{

padding:14px;

background:#4f46e5;

border:none;

color:white;

font-size:16px;

border-radius:10px;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:scale(1.03);

}

select{

cursor:pointer;
}

h2{
margin-bottom:15px;
}

@media(max-width:600px){

.nav{

flex-direction:column;
gap:10px;

}

.navLinks a{

margin:0 10px;

}

.card,
.form{

width:95%;

}

}
